.footer {
  background: #0D9488;
  color: white;
  padding: 60px 20px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer .box {
  flex: 1 1 220px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.footer .box:hover {
  transform: translateY(-5px);
}


.footer .box h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
}

.footer .box a {
  display: block;
  color: #f1f1f1;
  font-size: 15px;
  text-decoration: none;
  margin: 8px 0;
  transition: color 0.3s ease;
}

.footer .box a:hover {
  color: orange;
  transform: translateX(5px);
}

.footer .credit {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 15px;
  color: #eee;
}

.jk-highlight {
  color: #ffcc00;
  font-weight: bold;
  font-family: cursive;
}
